<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Youddit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css"> -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.thumbnailScroller.css">

   </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Clever name goes here</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                        </ul>
                        <form class="navbar-form pull-right">
                            <ul class="nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">How It Works</a></li>
                            </ul>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            
        <div id="player"></div>
        
        
		<div id="tS2" class="jThumbnailScroller">
			<div class="jTscrollerContainer">
				<div class="jTscroller">
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/1.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/2.jpg" /></a>
                    <a href="#"><img src="http://img.youtube.com/vi/34WIbmXkewU/3.jpg" /></a>

				</div>
			</div>
			<a href="#" class="jTscrollerPrevButton"></a>
			<a href="#" class="jTscrollerNextButton"></a>
		</div>


            <footer>
                <!--
                <p>&copy; name.... 2013</p>
                -->
            </footer>

        </div> <!-- /container -->
        
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="http://www.youtube.com/player_api"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>



        <!-- thumbnail scroller markup end -->
		<script src="{{ STATIC_URL }}js/scroller/jquery.thumbnailScroller.js"></script>
		<script src='{{ STATIC_URL }}js/scroller/jquery.mousewheel.js' type='text/javascript'></script>
		<!-- jquery ui custom build (for animation easing) -->
		<script src="{{ STATIC_URL }}js/scroller/jquery-ui-1.8.13.custom.min.js"></script>
		<script>
		/* jQuery.noConflict() for using the plugin along with other libraries. 
		   You can remove it if you won't use other libraries (e.g. prototype, scriptaculous etc.) or 
		   if you include jQuery before other libraries in yourdocument's head tag. 
		   [more info: http://docs.jquery.com/Using_jQuery_with_Other_Libraries] */
		//jQuery.noConflict(); 
		/* calling thumbnailScroller function with options as parameters */
		(function($){
		window.onload=function(){ 
			$("#tS2").thumbnailScroller({ 
				scrollerType:"clickButtons", 
				scrollerOrientation:"horizontal", 
				scrollSpeed:2, 
				scrollEasing:"easeOutCirc", 
				scrollEasingAmount:600, 
				acceleration:4, 
				scrollSpeed:800, 
				noScrollCenterSpace:10, 
				autoScrolling:0, 
				autoScrollingSpeed:2000, 
				autoScrollingEasing:"easeInOutQuad", 
				autoScrollingDelay:500 
			});
			
		}
		})(jQuery);
		</script>

        
        <script>
            // handle keyboard arrow key navigation
            $(document).keydown(function(e){
                switch(e.which) {
                    case 37: // left
                        console.log('left pressed!');
                        prevVideo();
                        break;
        
                    case 38: // up
                        console.log('up pressed!');
                        break;
        
                    case 39: // right
                        console.log('right pressed!');
                        nextVideo();
                        break;
        
                    case 40: // down
                        console.log('down pressed!');
                        break;
        
                    default: return; // exit this handler for other keys
                }
                e.preventDefault();
            });
           
            // autofocus from iframe if on chrome or safari
            function keepFocused() {
                window.focus();
            }
            if (window.chrome) { 
                setInterval(keepFocused, 2000);
            }

            // create youtube player
            var data = {{ data|safe }}  ; 
            var counter=0;
            
            function get_video(provider, position) {
                return data[position];
            }

            // create youtube player
            var player;
            function onYouTubePlayerAPIReady() {
                player = new YT.Player('player', {
                  height: '390',
                  width: '640',
                  videoId: data[0]['vid'], 
                  events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                  }
                });

                $('#title').html(data[0]['title']);
            }
        
            // autoplay video
            function onPlayerReady(event) {
                event.target.playVideo();
            }
        
            // check for video complete event
            function onPlayerStateChange(event) {        
                if(event.data === 0) {            
                    nextVideo();
                }
            }
        
            // load the next video
            function nextVideo(){
                console.log('loading next video, exiting index ' + counter);
                if (counter + 1 < data.length){
                    counter++;
                    player.stopVideo();
                    player.loadVideoById(data[counter]['vid']);
                }
                $('#title').html(data[counter]['title']);
            }
        
            // load the previous video
            function prevVideo(){
                console.log('loading prev video, exiting index ' + counter);
                if (counter > 0){
                    counter--;
                    player.stopVideo();
                    player.loadVideoById(data[counter]['vid']);
                }
                $('#title').html(data[counter]['title']);
            }
        
        </script>        
        
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>

