<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Youddit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css"> -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.thumbnailScroller.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>

   </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                <!-- <div class="container"> -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="">Youddit</a>
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-info-sign"></i> How it Works</a>
                                <ul class="dropdown-menu">
                                    Arrow Keys and Space. More info coming soon.<br><br>Shamil Israq<br>Liang Yao
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-star"></i> Popular Streams</a>
                                <ul class="dropdown-menu">
                                    List of popular streams coming soon.
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope"></i> Feedback</a>
                                <ul class="dropdown-menu">
                                    coming soon.
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="mainRow">
                <div class="span7" id="player"></div>
                <!-- <div id="infoRight"> -->
                <div class="span4" id="vidTitle">
                    <a href='#' id="title">Looking for videos. This could take a minute</a>
                </div> 
            </div>
            <div id="tS2" class="jThumbnailScroller">
                    <div class = "span 4 offset3">       
                        <form name='search' class="form-inline">
                            <div class="input-prepend input-append">
                                <span name='input' class="add-on">/r/</span>
                                <input class="span2" id="appendedPrependedInput" type="text" placeholder="videos">
                                 <select class="span1" onChange='change_cat(this)'>
                                    <option value='hot'>Hot</option>
                                    <option value='top'>Top</option>
                                    <option value='controversial'>Controversial</option>
                                </select>
                               <button class="btn" type="button">Go!</button>
                            </div>
                        </form>
                    </div>
                    <div class = "span 4 offset1">
                        <a href = "#" class="playerPrevButton" onClick='prevVideo()'><i class="icon-step-backward"></i></a>
                        <a href = "#" class="playerPauseButton" onClick='prevVideo()'><i class="icon-pause"></i></a>
                        <a href = "#" class="playerNextButton" onClick='nextVideo()'><i class="icon-step-forward"></i></a>
                    </div>
                <div class="jTscrollerContainer">
                    <div id='scroller' class="jTscroller">
    
                    </div>
                </div>
                <a href="#" class="jTscrollerPrevButton"><i class="icon-arrow-left"></i></a>
                <a href="#" class="jTscrollerNextButton"><i class="icon-arrow-right"></i></a>
            </div>
            <footer>
                <!--
                <p>&copy; name.... 2013</p>
                -->
            </footer>
        </div> <!-- /container -->
        
        <script type='text/template' id='playlist_template'>
            <a href="#" data-id=<%= id %> class="darken"><img src="http://img.youtube.com/vi/<%= vid %>/mqdefault.jpg"/><div data-id=<%= id %> class="thumbTitle"><%= title %></div></a>
        </script>


        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="http://www.youtube.com/player_api"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>



        <!-- thumbnail scroller markup end -->
		<script src="{{ STATIC_URL }}js/scroller/jquery.thumbnailScroller.js"></script>
		<script src='{{ STATIC_URL }}js/scroller/jquery.mousewheel.js' type='text/javascript'></script>
		<!-- jquery ui custom build (for animation easing) -->
		<script src="{{ STATIC_URL }}js/scroller/jquery-ui-1.8.13.custom.min.js"></script>
		<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
		<script src="{{ STATIC_URL }}js/main.js"></script>

		<script>

            var subreddit = "{{ subreddit }}",
                init_data = {{ data_raw|safe }},
                data = {}, 
                cat = 'hot', // Current category displayed
                counter = -1; // Position id of video being played now
                // create youtube player
                var player;
 
                data['hot'] = {};
                data['hot']['videos'] = init_data['videos'];
                data['hot']['page'] = 1;

                {% if loading %}
                $(".jThumbnailScroller").hide();
                setTimeout("window.location.reload()", 1000*30); 
                {% elif data.videos|length == 0 %}
                    $('#title').html("No videos found");
                {% else %}
            (function($){
            window.onload=function(){
                load_videos();

                $("#tS2").thumbnailScroller({ 
                    scrollerType:"clickButtons", 
                    scrollerOrientation:"horizontal", 
                    scrollSpeed:2, 
                    scrollEasing:"easeOutCirc", 
                    scrollEasingAmount:600, 
                    acceleration:4, 
                    scrollSpeed:800, 
                    noScrollCenterSpace:10, 
                    autoScrolling:0, 
                    autoScrollingSpeed:2000, 
                    autoScrollingEasing:"easeInOutQuad", 
                    autoScrollingDelay:500, 
                    onLast: load_more
                });
            }
            })(jQuery);

function onYouTubePlayerAPIReady() {
                    var first_vid = next_video();
                    player = new YT.Player('player', {
                      height: '390',
                      width: '720',
                      videoId: first_vid['vid'], 
                      playerVars: { 'autoplay': 1, 'autohide': 1, 'showinfo': 0, 'iv_load_policy': 3 },
                      events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange,
                        'onError' : onPlayerError
                      }
                });
    
                 
                 set_title(first_vid['title'], first_vid['permalink']);
                }

                {% endif %}
            // handle keyboard arrow key navigation
            $(document).keydown(function(e){
                switch(e.which) {
                    case 37: // left
                        prevVideo();
                        break;
        
                    case 39: // right
                        console.log('right pressed!');
                        nextVideo();
                        break;
        
                    default: return; // exit this handler for other keys
                }
                e.preventDefault();
            });
           
           if (window.chrome) { 
                setInterval(keepFocused, 2000);
            }
            
            $("form[name='search']").submit( function(e) {
                e.preventDefault();
                var url = "../r/" + $('form :input').val();
                window.location.href = url;
            });

        </script>        
        
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>

