body {
    background-image:url('../img/background.png');
    background-size:100%;
    background-color:#1b1b1b;
}

#title {
    color: #fff;
    background-color:rgba(26,26,26,0.4);
    display: inline;
    font-size: 28px;
    font-family: 'Raleway', serif;
    line-height: 1.357;
    box-shadow:10px 0 0 rgba(26,26,26,0.4), -10px 0 0 rgba(26,26,26,0.4);
    padding: 2px 0;
    margin:0;
}

.navbar {
    width: 1170px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar-inner {
    background-color:rgba(26,26,26,0.4);
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    border: none;
    
    color: #fff;
    font-family: 'Raleway', serif;

  -webkit-box-shadow: 0 1px 10px black;
     -moz-box-shadow: 0 1px 10px black;
          box-shadow: 0 1px 10px black;

          
  -webkit-border-radius: 0 0 4px 3px;
     -moz-border-radius: 0 0 4px 3px;
          border-radius: 0 0 4px 3px;

}

#tS2 {
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: rgba(26,26,26,0.4);

  -webkit-box-shadow: 0 -1px 10px black;
     -moz-box-shadow: 0 -1px 10px black;
          box-shadow: 0 -1px 10px black;
}

#player {
    max-width: 720px;
    border:none;
    visibility: visible;
}

#vidTitle {
    width:436px;
    padding-left:32px;
}

#mainRow {
    position: absolute; top:15%;
}


.thumbTitle {
    font-family: 'Raleway', serif;
    position:relative;
    top:-128px;
    left: 10px;
    width:222px;
}

a.darken:hover {
    color: #fff;
}


.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}
.navbar .nav > li > a:hover {
    color:  #fff;
}

/*Player buttons themeing */

.playerNextButton, .playerPauseButton, .playerPrevButton{ 
    padding: 10px;
    display:inline-block;
}

.playerNextButton:hover, .playerPauseButton:hover, .playerPrevButton:hover{ 

}

.playerNextButton, .playerPrevButton{
    padding: 10px 14px;
    border-right: 1px solid rgba(26,26,26,0.4);
    border-left: 1px solid rgba(26,26,26,0.4);
}

[class^="icon-"],
[class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-grey.png");
}

a:hover > [class^="icon-"],
a:hover > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/*Top navbar  themeing */

.dropdown-menu{
    background-color:rgb(26,26,26);
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #fff;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #fff;
}

.navbar .nav > li > .dropdown-menu:after {
  border-bottom: 6px solid rgb(26,26,26);
}

p{
	padding: 0 18px;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background-color: #333;
  background-image: linear-gradient(to bottom, #333, #444);
  color: #FFFFFF;
  text-decoration: none;
}

/****/

a:active,a:focus {
    outline: none;
}


.navbar .divider-vertical {
  border-right-color: rgba(26,26,26,0.3);
  border-left-color: rgba(26,26,26,0.05);

}

.navbar .brand {
  color: #DDDDDD;
  text-shadow: 0 1px 0 #777777;
}

 /*stream Form themeing*/

form {
    color: #DDDDDD;
    padding-top:6px;
}

.input-append .add-on, .input-prepend .add-on {
  background-color: rgba(26,26,26,0.4);
  border-bottom-color: rgba(26,26,26,0.4);
  border-left: 1px solid rgba(26,26,26,0.4);
  border-right: 1px solid rgba(26,26,26,0.4);
  border-top-color: rgba(26,26,26,0.4);
  text-shadow: 0 1px 0 rgba(26,26,26,0.4);
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: rgba(255,255,255,0.1);
  border-bottom-color: rgba(26,26,26,0.4);
  border-left: 1px solid rgba(26,26,26,0.4);
  border-right: 1px solid rgba(26,26,26,0.4);
  color: #DDDDDD;
  border-top-color: rgba(26,26,26,0.4);
}

select {
  background-color: rgba(255,255,255,0.1);
  border-bottom-color: rgba(26,26,26,0.4);
  border-left: 1px solid rgba(26,26,26,0.4);
  border-right: 1px solid rgba(26,26,26,0.4);
  border-top-color: rgba(26,26,26,0.4);
  width: 220px;
  color: #DDDDDD;
}

.btn {
  background: none;
  background-image: none;
  border-bottom-color: rgba(26,26,26,0.4);
  border-left: 1px solid rgba(26,26,26,0.4);
  border-right: 1px solid rgba(26,26,26,0.4);
  border-top-color: rgba(26,26,26,0.4);
  color: #DDDDDD;
}
